<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
<body>
<h1><%= yield(:title)+'s:' %></h1>
<p><strong>Email:</strong> <a href="mailto:rikitikitavi1989@yandex.ru?subject=Письмо по тестовому сайту">
  rikitikitavi1989@yandex.ru</a></p>
<p><strong>Telegram:</strong> Konst_c13</p>
<p><strong>Skype:</strong> konst_c13</p>
</body>
</html>