<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<body>
<h1><%= yield(:title) %></h1>
<p>
  This is the home page for the
  <a href="https://github.com/rikitikitav1/sample_app">rikitikitav1's sample application</a>
  sample application.
</p>
</body>
</html>