<footer class="footer">
  <small>
    The <a href="https://github.com/rikitikitav1/sample_app">sample rails app</a>
    desined by <a href="https://github.com/rikitikitav1">Nechaev Konstantin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="https://news.yandex.ru/">News</a></li>
    </ul>
  </nav>
</footer>
